<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tumblr.ramiroaraujo.center-pointer-on-active-window</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>658E5F7D-D643-48E6-8E2C-FF5999300568</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B7A61C09-7B9F-4801-A2BE-6A829D0EDD1A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D0E1F800-F8CC-4EFB-AE27-51278B159D41</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>658E5F7D-D643-48E6-8E2C-FF5999300568</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F90FAF6C-02D7-488A-8636-251DC70B0AA7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0E1F800-F8CC-4EFB-AE27-51278B159D41</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ramiro Araujo</string>
	<key>description</key>
	<string>Shortcut driven workflow to center the mouse curson on the currenctly active window</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Center Pointer on Active Window</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
  tell application "System Events"	set proc to name of first process whose frontmost is true	tell window 1 of process proc
		return position &amp; size	end tellend tell
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D0E1F800-F8CC-4EFB-AE27-51278B159D41</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>&lt;?php

$coords = preg_split('/\s*,\s*/', $argv[1]);
$x = $coords[0] + round($coords[2] / 2);
$y = $coords[1] + round($coords[3] / 2);

echo "$x,$y";
?&gt;</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>658E5F7D-D643-48E6-8E2C-FF5999300568</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./cliclick m:$1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B7A61C09-7B9F-4801-A2BE-6A829D0EDD1A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>8</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>C</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F90FAF6C-02D7-488A-8636-251DC70B0AA7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Simple workflow to center the mouse/trackpad pointer into the current window. Specially handy for multi-monitor setups.

Make sure to have accesibility permissions for Alfred set correctly, and define a hotkey for the workflow, for example `^ + ⌥ + ⌘ + C`.</string>
	<key>uidata</key>
	<dict>
		<key>658E5F7D-D643-48E6-8E2C-FF5999300568</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>B7A61C09-7B9F-4801-A2BE-6A829D0EDD1A</key>
		<dict>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>D0E1F800-F8CC-4EFB-AE27-51278B159D41</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>F90FAF6C-02D7-488A-8636-251DC70B0AA7</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
